.to-do.page {
	max-width: 960px;
	margin: 0 auto;
}

.questionnaire-wrapper {
	font-size: 24px;

	.panel {
		padding: 15px 25px;
	}

	input[type=button] {
	    font-size: 16px;
	    padding: 5px 18px;
	    background-color: #00BFFF;
	    color: white;
	    border: none;
	}
}

.submit-wrapper {
	margin-top: 50px;
	text-align: center;

	input[type=submit] {
		padding: 8px 15px;
    	font-size: 18px;
	}
}