<div id="nav-parent">

    <ul class="" id="gn-menu" style="float: left;">
        <li class="floatL nav-item gn-trigger dropdown active">
            <a class="gn-icon gn-icon-menu">Menu<b class="caret "></b></a>
        </li>

        <li id="logo" class="floatL nav-item "><a href="/#/project-initiation"></a>
        </li>
                    <li class="nav-item floatL "><a href="/#/project-initiation">Projects</a></li>
       

            <li class="nav-item floatL "><a href="/#/project-initiation">News</a></li>


            <li class="dropdown floatL nav-item  resourcestype">
                <a href="/#/project-initiation" class="dropdown-toggle" data-toggle="dropdown" style="color: #fff;">Resources <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    
                        <li><a href="">All</a>  </li>
                        <li><a href="">Company Policies</a></li> 
                        <li><a href="">Country Summaries</a></li> 
                        <li><a href="">FAQs</a></li> 
                        <li><a href="">Help</a></li> 
                        <li><a href="">Country Visa Process</a></li> 
                        <li><a href="">Recruiter Resources</a></li> 
                        <li><a href="">Training</a></li> 
                </ul>
            </li>
        
    </ul>

    <ul id="gn-menu" class="pull-right">
        
        
<li class="nav-item floatL ">
                <a href="/SecureMessage" id="nav-messages" title="Secure Messages"></a>
            </li>
        <li class="dropdown nav-item floatL pull-right">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="user-profile"><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li id="user-name">Iphone Six</li>
                    <li><a href="/StatusDoc/41302/1/Profile">My Profile</a></li>
                                    <li><a href="/StatusDoc/41302/1/Family">Immigration Status</a></li>
                                    <li><a href="/VisaCase/StatusChek/41302">My Projects</a></li>
                                                    <li><a href="/User/ResetPassword/144842">Reset Password</a></li>
                                    <li><a href="/User/UserPreference/144842">My Preferences</a></li>

            </ul>
        </li>

        <li id="log-out" class="floatL nav-item "><a href="/Logout.aspx" style="width: 28px;"></a></li>










    </ul>
</div>