<div class="container">
	<div class="row">
		<div class="col-md-3 side-navigation-wrapper" id="leftCol">
        	<ul class="nav nav-stacked side-navigation" id="sidebar">
		      <li role="presentation"><a href="#/questionnaire/basic-information" scroll-to="basic-information" ng-class="{active: QuestionnaireCtrl.isActive('basic-information')}" ng-click="QuestionnaireCtrl.setActive('basic-information')"><span class="badge">1</span> Basic information</a></li>
		      <li role="presentation"><a href="#" scroll-to="contact-information" ng-class="{active: QuestionnaireCtrl.isActive('contact-information')}" ng-click="QuestionnaireCtrl.setActive('contact-information')"><span class="badge">2</span> Contact information</a></li>
		      <li role="presentation"><a href="#" scroll-to="citizenship" ng-class="{active: QuestionnaireCtrl.isActive('citizenship')}" ng-click="QuestionnaireCtrl.setActive('citizenship')"><span class="badge">3</span> Citizenship</a></li>
		      <li role="presentation"><a href="#" scroll-to="education-history" ng-class="{active: QuestionnaireCtrl.isActive('education-history')}" ng-click="QuestionnaireCtrl.setActive('education-history')"><span class="badge">4</span> Education history</a></li>
		      <li role="presentation"><a href="#" scroll-to="future-travel" ng-class="{active: QuestionnaireCtrl.isActive('future-travel')}" ng-click="QuestionnaireCtrl.setActive('future-travel')"><span class="badge">5</span> Future travel</a></li>
		      <li role="presentation"><a href="#" scroll-to="immigration-documents" ng-class="{active: QuestionnaireCtrl.isActive('immigration-documents')}" ng-click="QuestionnaireCtrl.setActive('immigration-documents')"><span class="badge">6</span> Immigration documents</a></li>
		      <li role="presentation"><a href="#" scroll-to="family-members" ng-class="{active: QuestionnaireCtrl.isActive('family-members')}" ng-click="QuestionnaireCtrl.setActive('family-members')"><span class="badge">7</span> Family members</a></li>
		      <li role="presentation"><a href="#" scroll-to="additional-questions" ng-class="{active: QuestionnaireCtrl.isActive('additional-questions')}" ng-click="QuestionnaireCtrl.setActive('additional-questions')"><span class="badge">8</span> Additional questions</a></li>
		    </ul>
		</div>

<div class="questionnaire page col-sm-9">
	<div class="page-header">
	  <h1>Basic information <br/><small>change your basic information here</small></h1>
	</div>
	<section class="panel panel-default" id="basic-information">
		<div class="panel-body">
			<form>
			  <fieldset class="form-group">
			  	<div class="col-sm-2">
			    	<label for="prefix">Prefix</label>
			    </div>
			    <div class="col-sm-4">
			    	<input type="text" class="form-control" id="prefix" placeholder="Mr./Ms.">
			    </div>
			  </fieldset>

			  <fieldset class="form-group">
			  	<div class="col-sm-2">
			    	<label for="first-name">First name</label>
			    </div>
			    <div class="col-sm-4">
			    	<input type="text" class="form-control" id="first-name" placeholder="">
			    </div>
			  </fieldset>

			  <fieldset class="form-group">
			  	<div class="col-sm-2">
			    	<label for="middle-name">Middle name</label>
			    </div>
			    <div class="col-sm-4">
			    	<input type="text" class="form-control" id="middle-name" placeholder="">
			    </div>
			  </fieldset>

			  <fieldset class="form-group">
			  	<div class="col-sm-2">
			    	<label for="last-name">Last name</label>
			    </div>
			    <div class="col-sm-4">
			    	<input type="text" class="form-control" id="last-name" placeholder="">
			    </div>
			  </fieldset>

			  <fieldset class="form-group">
			  	<div class="col-sm-2">
			    	<label for="preferred-first-name">Preferred first name</label>
			    </div>
			    <div class="col-sm-4">
			    	<input type="text" class="form-control" id="preferred-first-name" placeholder="">
			    </div>
			  </fieldset>
			  <div class="form-group">
				  <div class="col-sm-12">
					  <button type="submit" class="btn btn-primary">Submit</button>
					  <button type="submit" class="btn btn-primary">Cancel</button>
				  </div>
			  </div>
			  
			</form>
		</div>
	</section>
</div>
</div>
</div>