/*************************************
* HTML elements
**************************************/

html {
	overflow: auto;
}

h1 {
		color: rgba(0, 0, 0, 0.87);
		font-family: Roboto-Medium;
		font-size: 36px;
		line-height: 28px;
}
h2 {
		font-family: Roboto-Medium;
		font-size: 24px;
		color: rgba(0,0,0,0.38);
		line-height: 28px;
}

/*************************************
* Bootstrap UI elements
**************************************/

.badge {

	&.questionnaire-badge{
		width: 24px;
		height: 24px;
		border-radius: 24px;
		margin: 5px;
		vertical-align: middle;
		padding-top: 3%;
	}
	&.questionnaire-badge-selected{
		width: 24px;
		height: 24px;
		border-radius: 24px;
		margin: 5px;
		vertical-align: middle;
		padding-top: 3%;
		background-color: #00BFFF;
	}
	&.questionnaire-badge-completed{
		width: 24px;
		height: 24px;
		border-radius: 24px;
		margin: 5px;
		vertical-align: middle;
		padding-top: 3%;
		background-color: #ADE986;
	}
	&.completion-progress {
	    padding: 12px 5px;
	    font-size: 17px;
	    border-radius: 56px;
	    width: 56px;
			height: 56px;
	    background-color: #EEEEEE;
	}
}

.panel {
	&.panel-default {
		.panel-heading {
			background-color: #00BFFF;	
			color: #FFFFFF;

			a.action {
				float: right;
				color: #FFFFFF;
			}
		}
	}

	.panel-body {
		padding: 25px 15px;
	}
}

.page {
	margin-left: 25%;
}

.page-header {
	border-bottom: none;
}

.top-header {
	position: fixed;
}

.side-navigation-wrapper {
	//position: fixed;
	ul.side-navigation {
		.badge {
			margin-right: 10px;
		}

		li {
			a {

				&.active {
					.badge {
						background-color: #00BFFF;
					}
				}
			}
		}
	}
}

/*****************************************
* forms
******************************************/

.form-group {
	color: #767676;
}
