<div id="masthead">
  <div class="container">
    <div class="row">
			<div class="col-md-9 col-md-offset-3 page-header">
			  <h1>Questionnaire</h1>
				<h2>Saudi Arabia Business Visa</h2>
			</div>
        <!-- <div class="col-md-5">
            <div class="well well-lg">
              <div class="row">
                <div class="col-sm-6">
        	      	<img src="//placehold.it/180x100" class="img-responsive">
                </div>
                <div class="col-sm-6">
	              	Some text here
                </div>
              </div>
            </div>
        </div> -->
    </div>
  </div><!--/container-->
</div><!--/masthead-->
<!--main-->
<div class="container">
	<div class="row">
      <!--left-->
      <div class="col-md-3 side-navigation-wrapper" id="leftCol">
        <ul class="nav nav-stacked side-navigation" id="sidebar">
		  <li role="presentation"><a href="#basic-information" ng-class="{active: QuestionnaireCtrl.isActive('basic-information')}" ng-click="QuestionnaireCtrl.setActive('basic-information')"><span class="badge">1</span> Basic Information</a></li>
		  <li role="presentation"><a href="#contact-information" ng-class="{active: QuestionnaireCtrl.isActive('contact-information')}" ng-click="QuestionnaireCtrl.setActive('contact-information')"><span class="badge">2</span> Contact information</a></li>
		  <li role="presentation"><a href="#citizenship" ng-class="{active: QuestionnaireCtrl.isActive('citizenship')}" ng-click="QuestionnaireCtrl.setActive('citizenship')"><span class="badge">3</span> Citizenship</a></li>
		  <li role="presentation"><a href="#education-history" ng-class="{active: QuestionnaireCtrl.isActive('education-history')}" ng-click="QuestionnaireCtrl.setActive('education-history')"><span class="badge">4</span> Education history</a></li>
		  <li role="presentation"><a href="#future-travel" ng-class="{active: QuestionnaireCtrl.isActive('future-travel')}" ng-click="QuestionnaireCtrl.setActive('future-travel')"><span class="badge">5</span> Future travel</a></li>
<!-- 		  <li role="presentation"><a href="#sec4"><span class="badge">6</span> Immigration documents</a></li>
		  <li role="presentation"><a href="#sec4"><span class="badge">7</span> Family members</a></li>
		  <li role="presentation"><a href="#sec4"><span class="badge">8</span> Additional questions</a></li> -->
        </ul>
      </div><!--/left-->

      <!--right-->
      <div class="col-md-9">

      <section class="panel panel-default" id="basic-information">
      	<div class="panel-heading">Basic Information</div>
		<div class="panel-body">
			<form name="questionnaireForm">
			    <fieldset class="form-group">
					<input type="input" ng-model="QuestionnaireCtrl.questionnaire.basicInformation.prefix" class="form-control questionnaire-form-input" id="prefix" placeholder="Mr.">
			    </fieldset>
			    <fieldset class="form-group">
				    <input type="input" ng-model="QuestionnaireCtrl.questionnaire.basicInformation.firstname" class="form-control questionnaire-form-input" id="firstname" placeholder="Legal first name *">
					<input type="input" ng-model="QuestionnaireCtrl.questionnaire.basicInformation.middlename" class="form-control questionnaire-form-input" id="middlename" placeholder="Legal middle name">
					<input type="input" class="form-control questionnaire-form-input" id="lastname" ng-model="QuestionnaireCtrl.questionnaire.basicInformation.lastname" placeholder="Legal last name *">
			    </fieldset>
			    <fieldset class="form-group">
			    	<input type="input" ng-model="QuestionnaireCtrl.questionnaire.basicInformation.preferredFirstName" class="form-control questionnaire-form-input" id="preferredFirstName" placeholder="Preferred First Name">
			    </fieldset>
			    <fieldset class="form-group">
			    	<input type="input" ng-model="QuestionnaireCtrl.questionnaire.basicInformation.maidenOtherNames" class="form-control questionnaire-form-input" id="maidenOtherNames" placeholder="Maiden/Other names">
			    </fieldset>
			    <fieldset class="form-group">
				    	<input type="input" ng-model="QuestionnaireCtrl.questionnaire.basicInformation.countryOfBirth" class="form-control questionnaire-form-input" id="countryOfBirth" placeholder="Country of birth">
				  </fieldset>
				  <fieldset class="form-group">
				    	<input type="input" ng-model="QuestionnaireCtrl.questionnaire.basicInformation.cityOfBirth" class="form-control questionnaire-form-input" id="cityOfBirth" placeholder="City of birth">
				  </fieldset>
				  <fieldset class="form-group">
				    	<input type="input" ng-model="QuestionnaireCtrl.questionnaire.basicInformation.stateProvinceOfBirth" class="form-control questionnaire-form-input" id="stateProvinceOfBirth" placeholder="State/Province of Birth">
				  </fieldset>
				  <fieldset class="form-group">
				    	<input type="input" ng-model="QuestionnaireCtrl.questionnaire.basicInformation.citizenship" class="form-control questionnaire-form-input" id="citizenship" placeholder="Citizenship">
				  </fieldset>
				<fieldset class="form-group">
					<div class="col-sm-2">
							<label for="gender">Gender</label>
					</div>
					<div class="col-sm-10">
						<input ng-model="QuestionnaireCtrl.questionnaire.basicInformation.gender" type="radio" name="gender" value="male" checked> Male
					    <input ng-model="QuestionnaireCtrl.questionnaire.basicInformation.gender" type="radio" name="gender" value="female"> Female
					    <input ng-model="QuestionnaireCtrl.questionnaire.basicInformation.gender" type="radio" name="gender" value="other"> Other
			    	</div>
			    </fieldset>
				<fieldset class="form-group">
						<div class="col-sm-2">
							<label for="maritalStatus">Marital Status</label>
						</div>
						<div class="col-sm-4">
							<select ng-model="QuestionnaireCtrl.questionnaire.basicInformation.maritalStatus" class="form-control" id="maritalStatus">
						      <option value="">Select</option>
						      <option>Single</option>
						      <option>Married</option>
						      <option>Divorced</option>
						    </select>
						</div>		
			    </fieldset>
				<fieldset class="form-group">
					<div class="col-sm-2">
						<label for="dateOfBirth">Date of birth</label>
					</div>
					<div class="col-sm-2">
						<input ng-model="QuestionnaireCtrl.questionnaire.basicInformation.dateOfBirth" type="date" name="bday">
					</div>
			  </fieldset>
			  
			  <div class="col-sm-12">
			  	<button type="submit" class="btn btn-primary" ng-click="QuestionnaireCtrl.saveQuestionnaire(questionnaireForm, QuestionnaireCtrl.questionnaire, 'create')">Save</button>
			  </div>
			  
			</form>
		</div>
	</section>
	<section class="panel panel-default" id="contact-information">
      	<div class="panel-heading">Contact Information</div>
		<div class="panel-body">
			<form>
			  <fieldset class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
			    <small class="text-muted">We'll never share your email with anyone else.</small>
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleSelect1">Example select</label>
			    <select class="form-control" id="exampleSelect1">
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			      <option>5</option>
			    </select>
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleSelect2">Example multiple select</label>
			    <select multiple class="form-control" id="exampleSelect2">
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			      <option>5</option>
			    </select>
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleTextarea">Example textarea</label>
			    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleInputFile">File input</label>
			    <input type="file" class="form-control-file" id="exampleInputFile">
			    <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
			  </fieldset>
			  <div class="radio">
			    <label>
			      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			      Option one is this and that&mdash;be sure to include why it's great
			    </label>
			  </div>
			  <div class="radio">
			    <label>
			      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
			      Option two can be something else and selecting it will deselect option one
			    </label>
			  </div>
			  <div class="radio disabled">
			    <label>
			      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
			      Option three is disabled
			    </label>
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox"> Check me out
			    </label>
			  </div>
			  <button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
	</section>
	<section class="panel panel-default" id="citizenship">
      	<div class="panel-heading">Citizenship</div>
		<div class="panel-body">
			<form>
			  <fieldset class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
			    <small class="text-muted">We'll never share your email with anyone else.</small>
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleSelect1">Example select</label>
			    <select class="form-control" id="exampleSelect1">
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			      <option>5</option>
			    </select>
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleSelect2">Example multiple select</label>
			    <select multiple class="form-control" id="exampleSelect2">
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			      <option>5</option>
			    </select>
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleTextarea">Example textarea</label>
			    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleInputFile">File input</label>
			    <input type="file" class="form-control-file" id="exampleInputFile">
			    <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
			  </fieldset>
			  <div class="radio">
			    <label>
			      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			      Option one is this and that&mdash;be sure to include why it's great
			    </label>
			  </div>
			  <div class="radio">
			    <label>
			      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
			      Option two can be something else and selecting it will deselect option one
			    </label>
			  </div>
			  <div class="radio disabled">
			    <label>
			      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
			      Option three is disabled
			    </label>
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox"> Check me out
			    </label>
			  </div>
			  <button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
	</section>
	<section class="panel panel-default" id="education-history">
      	<div class="panel-heading">Education History</div>
		<div class="panel-body">
			<form>
			  <fieldset class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
			    <small class="text-muted">We'll never share your email with anyone else.</small>
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleSelect1">Example select</label>
			    <select class="form-control" id="exampleSelect1">
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			      <option>5</option>
			    </select>
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleSelect2">Example multiple select</label>
			    <select multiple class="form-control" id="exampleSelect2">
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			      <option>5</option>
			    </select>
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleTextarea">Example textarea</label>
			    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleInputFile">File input</label>
			    <input type="file" class="form-control-file" id="exampleInputFile">
			    <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
			  </fieldset>
			  <div class="radio">
			    <label>
			      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			      Option one is this and that&mdash;be sure to include why it's great
			    </label>
			  </div>
			  <div class="radio">
			    <label>
			      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
			      Option two can be something else and selecting it will deselect option one
			    </label>
			  </div>
			  <div class="radio disabled">
			    <label>
			      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
			      Option three is disabled
			    </label>
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox"> Check me out
			    </label>
			  </div>
			  <button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
	</section>
	<section class="panel panel-default" id="future-travel">
      	<div class="panel-heading">Future Travel</div>
		<div class="panel-body">
			<form>
			  <fieldset class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
			    <small class="text-muted">We'll never share your email with anyone else.</small>
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleSelect1">Example select</label>
			    <select class="form-control" id="exampleSelect1">
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			      <option>5</option>
			    </select>
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleSelect2">Example multiple select</label>
			    <select multiple class="form-control" id="exampleSelect2">
			      <option>1</option>
			      <option>2</option>
			      <option>3</option>
			      <option>4</option>
			      <option>5</option>
			    </select>
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleTextarea">Example textarea</label>
			    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleInputFile">File input</label>
			    <input type="file" class="form-control-file" id="exampleInputFile">
			    <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
			  </fieldset>
			  <div class="radio">
			    <label>
			      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			      Option one is this and that&mdash;be sure to include why it's great
			    </label>
			  </div>
			  <div class="radio">
			    <label>
			      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
			      Option two can be something else and selecting it will deselect option one
			    </label>
			  </div>
			  <div class="radio disabled">
			    <label>
			      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
			      Option three is disabled
			    </label>
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox"> Check me out
			    </label>
			  </div>
			  <button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
	</section>
        </div><!--/right-->
  	</div><!--/row-->
</div><!--/container-->